.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.has_role_for_icon{
	padding:20px;
}
.pre_icon_text{
    line-height:25px;
    margin-left: 5px;
	float:right;
}
.user_icon, .admin_icon{
	float: right;
	width:50px;
	height: 50px;
	background-size: cover;
	border-radius: 50%;
	border:1px solid #FE980F;
}
.profile_avatar_displaying{
    margin: 5px auto;
}
.profile_avatar_displaying>img{
	border-radius: 50%;
}
#profile_avatar_container{
    margin-top: 100px;
}
#profile_avatar_container>div{
    text-align: center;
}
.card-title {
    color: color(black);
    margin-bottom: 1.125rem;
    text-transform: capitalize;
}
.input_change_avatar{
	padding: 0;
	width:200px;
	margin:20px auto;
}
.btn_change_avatar{
	width:160px;
	background: #0c0c0c;
	padding: 0.7em 1.5em;
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	margin: 0 auto;
	outline: none;
	border: none;
	border-radius: 2px;
}
.admin_icon{
	background-image: url("../../images/admin-icon.png");
}
.user_icon{
	background-image: url("../../images/user-icon.png");
}
.alert {
    display: none;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height:100px;
    line-height: 80px;
    text-align: center;
    background:#1f6fb2;
    opacity: 0.4;
    position: absolute;
    color: white;
  }
  
  .closebtn {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  #btn-diff{
    outline: none !important;
}
#homapage-image img, #welcome-image img{
    width: 300px;
    height: 300px;
}
#homapage-image{
    text-align: center;
    height: 50vh;
    line-height: 50vh;
}
#welcome-image{
    text-align: center;

    height: 80vh;
    line-height: 80vh;
}
#alert-for-logined-users{
    padding: 0px !important;
    margin-top: 50px;
}
#alert-for-logined-users li h4{
margin: 10px 0 !important;
text-align: center;
}
#edit-cathedraworker-cont, #app-nav-block, #report-block, #edit-sw-teacher, #edit-topic-cont, #post-topic-cont, #topics-cont, #form-cont, #works-table, #show-topics-cont, #login-form-cont, #teachers-table{
    margin-top: 100px;
}
#register-cathedraworker, #register-sw-as-student,  #register-as-student-form-cont, #register-as-teacher-form-cont{
    margin-top: 50px;
}
#button-show-topics{
    margin:auto;
    width:150px;
}

.topnav {
    background-color: #FE980F;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    line-height: 1.428571429;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: inherit;
  }
  
  .topnav a:hover{
    background-color:#1f6fb2;
    color: #f2f2f2;
  }
  
  
  .topnav .icon {
    display: none;
  }
  .topnav .icon:hover{
    background-color: #FE980F;
  }

.report-teachers-block{
    padding: 0px !important;
    margin: 0px !important;
}
.app-buttons{
    width: 150px !important;
}
#app-nav-block form, #app-nav-block li{
    align-content: center;
    margin: 0 auto;
}
#report-row{
    margin: 0 !important;
    padding: 0 !important;
}
#report-form{
    margin: 20px !important;
    align-content: center;
    text-align: center;
}
#report-form button{
    margin: auto;
    width: 100px;
}
#teacher_list{
    /* margin-left: 20px;
    margin-top: 20px; */
}

#app-nav-block form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.custom-menu-li{
    padding: 10px !important;
}

.table-wrapper{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    padding: 0!important;
}

.fl-table, .prof-table {
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    max-width: 100%;
    background-color:transparent;
}
.fl-table td, .fl-table th, .prof-table td, .prof-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td, .prof-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th, .prof-table thead th {
    color: #ffffff;
    background:#FE980F;
}
#report-form select,  #report-form input{

    font-size: 8pt !important;

}
#report-form input::-webkit-input-placeholder, #checked-option{
    font-size: 8pt !important;

  } 

.fl-table thead th:nth-child(odd), .prof-table thead th:nth-child(odd){
    color: #ffffff;
    background:#1f6fb2;
}

.fl-table tr:nth-child(even), .prof-table tr:nth-child(even) {
    background: #F8F8F8;
}

#container-teachers-table{
    display: flex;
    justify-content:space-around;
    flex-direction: row ;
}

#container-teachers-table input{
    display: inline-block;
    margin-right:10px;
}

#container-teachers-table button{
    display: inline-block;
}
#who, #comment{
    width: 150px;
    margin-right: 1px;
}
#td-with-scroll{
    max-width: 200px;
    width: 200px;
    height: 20px;
    max-height: 20px;
    
}

.scrollable{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

@media(max-width: 1250px){


    #topics-cont .fl-table td,#topics-cont .fl-table th, #teachers-table .fl-table td,#teachers-table .fl-table th {
        width:100px;
        font-size: 5pt !important;
    }
    #teachers-table button, #topics-cont button{
        width:80px !important;
        font-size: 5pt !important;
        font-weight: bold;
    }
}
@media (max-width: 1100px) {
    #works-table .fl-table td,#works-table .fl-table th {
           width:100px;
           font-size: 5pt !important;
        }
    #profile-table .fl-table td,#profile-table .fl-table th {
            width:100px;
            font-size: 5pt !important;
         }
    #works-table button{
            width:80px !important;
            font-size: 5pt !important;
            font-weight: bold;
        }
        #profile-table button{
            width:80px !important;
            font-size: 5pt !important;
            font-weight: bold;
        }
    #who, #comment{
            width: 80px !important;
        }
    #container-teachers-table{
            flex-direction: column;
        }
    #container-teachers-table input{
            margin:0 auto 1px auto;
            width:80px !important;
        }
}
@media(max-width: 1050px){
    .btn-diff{
        padding-right: 0 !important;
        padding-left: 0 !important;

        width:76px !important;
        font-size: 10pt !important;
    }
}
@media(max-width: 1000px){
    .topnav a {
        font-size: 10px;
    }
    .tab-cont-diff{
        margin-right:10px !important;
        margin-left:10px !important;

    }
}
@media (max-width: 767px) {
    #form-diff{
        margin: 0px !important;
    }
    #button-diff{
        display: table-cell; 
        vertical-align: middle; 
        text-align:center; 
        overflow: hidden !important; 
        padding:0 !important;
    }
    #button-diff button{
        margin:0 !important;
    }
    .app_nav_block_diff{
        padding:0 !important; 
    }
    #alert-for-logined-users li h4{
        font-size: smaller;
    }
    .topnav a {
        font-size: 14px;
    }
    #button-show-topics{
        width:80px;
    }
    
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

   #edit-cathedraworker-cont, #report-block,#app-nav-block, #edit-sw-teacher, #edit-topic-cont,#post-topic-cont,#topics-cont,  #form-cont, #works-table,#profile-table, #register-as-student-form-cont, #register-as-teacher-form-cont, #teachers-table{
        margin-top: 50px;
    }

 #report-block{
        /* width: 50%!important; */
        margin: 0 auto !important;
        padding: 0 !important;
        
    }  
    #report-block #teacher_list{
        top:30px !important;
    }  
    #teachers-table-container, #teachers-table-container tbody{
        margin-right: 0 !important;
    }

    #report-form select,  #report-form input, #report-form #teacher_list{
        width:150px !important;
        margin: 10px auto !important;
        font-size: 7pt !important;
        height: 25px !important;
        padding: 0 2px !important;
    }

    #app-nav-block{
        margin-bottom: 20px;
        font-size: 5pt !important;
    }
    #app-nav-block label{
        font-size: 10pt !important;
    }
 
    #td-with-scroll{
        height: 60px;
        max-height: 60px;
        
    }
    #high-td, #high-th{
        height: 100px;
    }

    #high-t-td, #high-t-th{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 80px;
    }
    #high-t-td input, #high-t-td button{
        display: inline-flex;
        margin-bottom: 3px;
    } 
   .btn-in-form{
        font-size: 14px !important;
    } 
    .big-btn-in-form{
        font-size: 14px !important;
        padding: 6px 12px;
        line-height: 1.42857143;
    }
    button{
        font-size: 5pt !important;
        font-weight: bold;
    }

    .fl-table {
        display: block;
        width: 100%;
        
    }
    
    #show-topics-cont{
        margin:  50px 0 !important;
        padding-left: 10px !important;
    }
    .fl-table td, .fl-table th, .prof-table td, .prof-table th {
        font-size: 5pt !important;
    }
    .table-wrapper{
        box-shadow: none;
        margin: 10px 10px 10px;
    }
    .table-wrapper:before{
        display: block;
        text-align: right;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td{
        width: 180px;
    }
    .fl-table th{
        width: 90px;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: top;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th{
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr{
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd){
        background: none;
    }
    .fl-table tr:nth-child(even){
        background: transparent;
    }
    .fl-table tr td:nth-child(odd){
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even){
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td{
        display: block;
        text-align: center;
    }
}