
.report-teachers-block{
    padding: 0px !important;
    margin: 0px !important;
}
.app-buttons{
    width: 150px !important;
}
#app-nav-block form, #app-nav-block li{
    align-content: center;
    margin: 0 auto;
}
#report-row{
    margin: 0 !important;
    padding: 0 !important;
}
#report-form{
    margin: 20px !important;
    align-content: center;
    text-align: center;
}
#report-form button{
    margin: auto;
    width: 100px;
}
#teacher_list{
    /* margin-left: 20px;
    margin-top: 20px; */
}

#app-nav-block form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.custom-menu-li{
    padding: 10px !important;
}

.table-wrapper{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    padding: 0!important;
}

.fl-table {
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    max-width: 100%;
    background-color:transparent;
}
.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background:#FE980F;
}
#report-form select,  #report-form input{

    font-size: 8pt !important;

}
#report-form input::-webkit-input-placeholder, #checked-option{
    font-size: 8pt !important;

  } 

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background:#1f6fb2;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

#container-teachers-table{
    display: flex;
    justify-content:space-around;
    flex-direction: row ;
}

#container-teachers-table input{
    display: inline-block;
    margin-right:10px;
}

#container-teachers-table button{
    display: inline-block;
}
#who, #comment{
    width: 150px;
    margin-right: 1px;
}
#td-with-scroll{
    max-width: 200px;
    width: 200px;
    height: 20px;
    max-height: 20px;
    
}

.scrollable{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
}
@media(max-width: 1250px){
    #teachers-table .fl-table td,#teachers-table .fl-table th {
        width:100px;
        font-size: 5pt !important;
    }
    #teachers-table button{
        width:80px !important;
        font-size: 5pt !important;
        font-weight: bold;
    }
}
@media (max-width: 1100px) {
    #works-table .fl-table td,#works-table .fl-table th {
           width:100px;
           font-size: 5pt !important;
        }
    #works-table button{
            width:80px !important;
            font-size: 5pt !important;
            font-weight: bold;
        }
    #who, #comment{
            width: 80px !important;
        }
    #container-teachers-table{
            flex-direction: column;
        }
    #container-teachers-table input{
            margin:0 auto 1px auto;
            width:80px !important;
        }
}

@media (max-width: 767px) {
 #report-block{
        /* width: 50%!important; */
        margin: 0 auto !important;
        padding: 0 !important;
        
    }  
    #report-block #teacher_list{
        top:30px !important;
    }  
    #teachers-table-container, #teachers-table-container tbody{
        margin-right: 0 !important;
        /* padding: 0 !important; */
    }/*
    #teacher_list{
        margin: 0 auto !important;
        top: 35px !important;
        left: 38.5%!important;
        width: 180px !important;
    }

    #report-form input::-webkit-input-placeholder, #checked-option{
        font-size: 7pt !important;

      } */
    #report-form select,  #report-form input, #report-form #teacher_list{
        width:150px !important;
        margin: 10px auto !important;
        font-size: 7pt !important;
        height: 25px !important;
        padding: 0 2px !important;
    }

    #app-nav-block{
        margin-bottom: 20px;
        font-size: 5pt !important;
    }
    #app-nav-block label{
        font-size: 10pt !important;
    }
    #app-nav-block button{
        width:80px !important;
    }
    #td-with-scroll{
        height: 60px;
        max-height: 60px;
        
    }
    #high-td, #high-th{
        height: 100px;
    }

    #high-t-td, #high-t-th{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 80px;
    }
    #high-t-td input, #high-t-td button{
        display: inline-flex;
        margin-bottom: 3px;
    } 

    button{
        font-size: 5pt !important;
        font-weight: bold;
    }

    .fl-table {
        display: block;
        width: 100%;
        
    }
    .fl-table td, .fl-table th {
        font-size: 5pt !important;
    }
    .table-wrapper{
        box-shadow: none;
        margin: 10px 10px 10px;
    }
    .table-wrapper:before{
        display: block;
        text-align: right;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td{
        width: 180px;
    }
    .fl-table th{
        width: 90px;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: top;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}